{% extends 'nav.html' %}
{% load static %}
{% block content %}
<div class="about">
    <section class="banner">
        <img class="bg-img" src="{% static 'images/girrafe.jpg'%}" alt="">
        <div class="bannerhead">
            <h1>About Ethiopia</h1>
        </div>
    </section>

    <section class="container">
        <div class="d-flex">
            <div class="stat1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="800">
                <img src="{% static 'images/dollar.png'%}" alt="" height="30px">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="stat1" data-aos="fade-right" data-aos-duration="800">
                <img src="{% static 'images/dollar.png'%}" alt="" height="30px">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="stat1" data-aos="fade-left" data-aos-duration="800">
                <img src="{% static 'images/dollar.png'%}" alt="" height="30px">
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="stat1" data-aos="fade-left" data-aos-delay="300" data-aos-duration="800">
                <img src="{% static 'images/dollar.png'%}" alt="" height="30px">
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="dgr-2">
            <div data-aos="fade-right" data-aos-duration="1000">
                <h3 class="mb-2">Ethiopia: A Land of Legends and Kings</h3>
                <p>Ethiopia's history is super interesting, not like a boring list! It's more like a cool, colorful blanket woven together with stories about legend, faith, and resilience and how they never gave up. 

                    Ethiopia has a cool story about its royal family. Legend says a long time ago, a famous king and powerful queen had a child together. This child became the first ruler in a long line of Ethiopian kings and queens! This legendary start made Ethiopia a strong kingdom that survived many challenges.
                    
                    Its old city Aksum is famous for its giant pointy towers and being one of the first places to follow Christianity!</p>
            </div>
            <img data-aos="fade-left" data-aos-duration="1000" src="{% static 'images/rock-hewn-church.jpg'%}" alt="" width="100%">
            <img data-aos="fade-right" data-aos-duration="1000" src="{% static 'images/ibex.webp'%}" alt="" width="100%">
            <div data-aos="fade-left" data-aos-duration="1000">
                <h3 class="mb-2">Ethiopia and its natural diversity are remarkable:</h3>
                <p>From the rugged Simien Mountains to the vast Afro-alpine moorlands of the Bale Mountains, home to Mount Ras Dejen, Ethiopia's highest point at 14,872 feet. If we talk about wildlife, the rare Walia ibex and gelada baboon are found in Ethiopia, along with lions, giraffes, and zebras. 
                    Western Highlands receives rainfall year-round, while the Danakil Plain the driest region, It is also characterized by active volcanoes and unique geological formations. 
                    The Blue Nile is a major river in Ethiopia, essential for its diverse ecosystems and contributing to its role as a biodiversity hotspot in Africa.</p>
            </div>
            
        </div>
    </section>

    <section data-aos="fade-up">
        <h5 class="statement-two" data-aos="fade-left" data-aos-delay="800" data-aos-duration="1000">Timeless
            Wonders,<br><span class="black">Endless Discoveries</span></h5>
        <div class="dgr-2 container about">
            <div class="info" data-aos="fade-right" data-aos-duration="1000">
                <img class="bgimg" src="{% static 'images/coffee.jpg'%}" alt="">
                <div class="detail">
                    <h3>01</h3>
                    <img class="arrow" src="{% static 'images/down.png'%}" alt="" width="32px">
                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, deleniti explicabo ipsa accusamus
                        omnis,
                        corporis nulla repellendus necessitatibus rerum optio tempore, molestiae eaque! </p>
                    <p><span class="tag">ethiopia</span><span class="tag">gondar</span><span class="tag">coffee</span></p>
    
                </div>
            </div>
            <div class="info" data-aos="fade-left" data-aos-duration="1000">
                <img class="bgimg" src="{% static 'images/gondar.jpg'%}" alt="">
                <div class="detail">
                    <h3>02</h3>
                    <img class="arrow" src="{% static 'images/down.png'%}" alt="" width="32px">
                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, deleniti explicabo ipsa accusamus
                        omnis,
                        corporis nulla repellendus necessitatibus rerum optio tempore, molestiae eaque! Consectetur minus
                        eveniet hic ipsum consequuntur expedita?</p>
    
                </div>
            </div>
        </div>
    </section>
    
    <section class="container">
        <div class="gallery">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
        <img src="{% static 'images/girrafe.jpg'%}" alt="" width="300px">
    </div>
    </section>
</div>
{% endblock content %}
    